$banxin : 1200px;
*{
    margin: 0;
    padding: 0;
}
.typepage{
    width:$banxin;
    margin: 0 auto;
}
li{
    list-style: none;
}
.list li{
    float: left;
}
.footer{
    height: 523px;
    padding: 20px 0px;
    background-color: yellow;
}
/* foot-banner */