.search{
    height: 100px;
}
.headnav{
    background-color: #A71B1B;
    height: 40px;
}
.headnav .layout>div {
    width: 190px;
    height: 40px;
    text-align: center;
    color: white;
    float: left;
}
.layout{
    line-height: 40px;
}
.layout ul li{
    float: left;
    color: white;
    padding: 0 10px 0 10px;
}
.banner{
    background-color: #d12e14;
    height: 470px;
}
.banner div{
    position: relative;
}
.listclass{
    width: 190px;
    height: 470px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.listclass li{
    width: 190px;
    background-color: white;
    opacity: 0.8;
    line-height: 36px;
    box-sizing: border-box;
}
#listbox{
    width: 1010px;
    height: 470px;
    background-color: green;
    position: absolute;
    left: 190px;
    top: 0px;
    visibility: hidden;
}
#listbox a{
    text-decoration: none;
    color: red;
}
#lihover:hover #listbox{
    visibility: visible;
}
.lunbo {
    width: 1010px;
    height: 470px;
    position: relative;
    cursor: pointer;
}

.lunbo ul li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
}

.lunbo ul li.show {
    opacity: 1;
}

.lunbo ol {
    position: absolute;
    left: 80%;
    bottom: 20px;
    text-indent: -999em;
    width: 125px;
    margin-left: -60px;
}

.lunbo ol li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.lunbo ol li.active {
    background-color: yellow;
}

.left_arrow,
.right_arrow {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    font-size: 100px;
    color: #fff;
    text-decoration: none;
    display: none;
}

.left_arrow {
    left: 200px;
}

.right_arrow {
    right: -180px;
}
.col-main{
    height: 338px;
    overflow: hidden;
    position: relative;
}
.col-main>div>li{
    line-height: 53px;
    width: 210px;
    float: left;
    text-align: center;
}
.upbox{
    height: 285px;
    ul{
        li{
            height: 285px;
            width: 240px;
            float: left;
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            align-self: center;
            justify-content: center;
            p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
        }
    }

}
.show1{
    height: 592px;
    ul{
        height: 42px;
        line-height: 42px;
        li{
            float: left;
        }
    }
    div{
        height: 550px;
        display: flex;
        align-content: space-around;
        li{
            height: 285px;
            width: 240px;
            float: left;
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            align-self: center;
            justify-content: center;
            p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
        }
    }
}
#loutinav {
    width: 30px;
    position: fixed;
    bottom: 100px;
    left: 200px;
    border: 1px solid #ddd;
    display: none;
}

#loutinav ul li {
    width: 30px;
    height: 30px;
    list-style: none;
    font-size: 12px;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 10px 0;
    background: white;
    color: #999;
}

#loutinav ul li span {
    width: 30px;
    height: 30px;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
}

#loutinav ul li.last {
    background: red;
    color: #fff;
    border-bottom: 1px solid #ddd;
}

#loutinav ul li:nth-child(1).active span {
    background: orange;
    color: #fff;
    display: block;
}

#loutinav ul li:nth-child(1):hover span {
    background: orange;
    color: #fff;
    display: block;
}
#loutinav ul li:nth-child(2).active span {
    background: green;
    color: #fff;
    display: block;
}

#loutinav ul li:nth-child(2):hover span {
    background: green;
    color: #fff;
    display: block;
}
#loutinav ul li:nth-child(3).active span {
    background: blue;
    color: #fff;
    display: block;
}

#loutinav ul li:nth-child(3):hover span {
    background: blue;
    color: #fff;
    display: block;
}
#loutinav ul li:nth-child(4).active span {
    background: black;
    color: #fff;
    display: block;
}

#loutinav ul li:nth-child(4):hover span {
    background: black;
    color: #fff;
    display: block;
}
#loutinav ul li:nth-child(5).active span {
    background: purple;
    color: #fff;
    display: block;
}

#loutinav ul li:nth-child(5):hover span {
    background: purple;
    color: #fff;
    display: block;
}
