.search{
    height: 100px;
}
.headnav{
    background-color: #A71B1B;
    height: 40px;
}
.headnav .layout>div {
    width: 190px;
    height: 40px;
    text-align: center;
    color: white;
    float: left;
}
.layout{
    line-height: 40px;
}
.layout ul li{
    float: left;
    color: white;
    padding: 0 10px 0 10px;
}
/* .bannerbackground{
    background-color: #d12e14;
    height: 470px;
    position: relative;
} */
/* .banner{
    height: 470px;
} */
/* .bannerbackground ul{
    width: 190px;
    height: 470px;
    position: absolute;
    top: 0;
    left: 26.5%;
    z-index: 999;
}

#listbox{
    width: 1010px;
    height: 470px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 190px;
    opacity: 0;
}
.bannerbackground ul li{
    width: 190px;
    background-color: white;
    opacity: 0.8;
    line-height: 36px;
/*     display: flex; */
/*     padding-left: 30px;
    box-sizing: border-box;
} */
/* .bannerbackground img{
    position: absolute;
    left: 26.5%;
    top: 0;
} */
/* #lihover:hover #listbox{
    opacity: 1;
}  */
.col-main{
    height: 338px;
    overflow: hidden;
    position: relative;
}
.col-main>div>li{
    line-height: 53px;
    width: 210px;
    float: left;
    text-align: center;
}
.upbox{
    height: 285px;
    ul{
        li{
            height: 285px;
            width: 240px;
            float: left;
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            align-self: center;
            justify-content: center;
            p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
        }
    }

}
.show1{
    height: 592px;
    ul{
        height: 42px;
        line-height: 42px;
        li{
            float: left;
        }
    }
    div{
        height: 550px;
        display: flex;
        align-content: space-around;
        li{
            height: 285px;
            width: 240px;
            float: left;
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            align-self: center;
            justify-content: center;
            p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
        }
    }
}
#loutinav {
    width: 35px;
    position: fixed;
    bottom: 100px;
    left: 200px;
    border: 1px solid #ddd;
    display: none;
}

#loutinav ul li {
    width: 35px;
    height: 32px;
    border-bottom: 1px dotted #DDDDDD;
    list-style: none;
    font-size: 12px;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 10px 0;
    background: #918888;
    color: #fff;
}

#loutinav ul li span {
    width: 35px;
    height: 32px;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
}

#loutinav ul li.last {
    background: #5e4a4a;
    color: #fff;
    border-bottom: 1px solid #ddd;
}

#loutinav ul li.active span {
    background: #c00;
    color: #fff;
    display: block;
}

#loutinav ul li:hover span {
    background: #c00;
    color: #fff;
    display: block;
}
