.registry{
    height: 500px;
    background: rgb(241, 239, 239);
    border: 0;
}
.registrybox{
    margin: 0 auto;
    width: 800px;
    height: 500px;
    font-size: 20px;
}
input{
    height: 40px;
    width: 200px;
    margin-left: 40px;
    margin-top: 20px;
}
span{
    margin-left: 40px;
}